.Navbar_barContent{
    height: 54px;
    background-color: white;
    border-bottom: 2px solid #DBDBDB;
}

.navbar_logo{
    margin: 10px 10px;
}

.navbar_img{
    margin: 15px 10px;
}

.navbar_searchBar{
    height: 30px;
    width: 215px;
    margin-top: 10px;
    border: 1px solid #DBDBDB;
    text-align: center;
    background-color: #fafafa;
    border-radius: 5px;
}