.post_container{
    width: 615px;
    border: 1px solid #dbdbdb;
    background-color: white;
    margin-top: 25px;
}

.post_header{
    height: 60px;
    border-bottom: 1px solid #dbdbdb;
    display: flex;
}

.post_image{
    min-width: 30px;
    min-height: 30px;
    margin: 10px;
}

.post_username{
 font-weight: bold;
 margin-top: 15px;
}

.post_reactimage{
    width: 25px;
    margin: 5px;
    height: 25px;
}

.post_comment{
    margin:10px;
}

.post_addcomment{
    height: 36px;
    width: 608px;
    border: 1px solid #dbdbdb;
}